streamlit

# Utilities
numpy
pandas
matplotlib
seaborn
plotly
scipy

# Face Recognition
scikit-learn
dlib==20.0.1
git+https://github.com/ageitgey/face_recognition_models

# Database
supabase
bcrypt

# QR
segno
pillow

# Audio
librosa
resemblyzer